<h1>Doogle</h1>

<table>

  <%= form_tag(words_path, method: :get) do %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag 'Search' %>
  <% end %>

  <tr>
    <th>Definition</th>
  </tr>
  <% @words.each do |word| %>
    <tr>
      <td><%= word.definition %></td>
<!--      <td><%= link_to 'Show', word_path(word) %></td>
      <td><%= link_to 'Edit', word_path(word) %></td> -->
    </tr>
  <% end %>

</table>
