<h1>Doogle</h1>

<table>

  <%= form_tag(words_path, method: :get) do %>
    <%= text_field_tag :name, params[:name] %>
    <%= submit_tag 'Search' %>
  <% end %>

  <% if @suggestions.empty? %>
      <tr>
        <th>Definition</th>
      </tr>
      <% @word.each do |word|  %>
        <tr>
          <td><%= word.definition %></td>
        </tr>
      <% end %>
    <% else %>
        <tr>
          <th>Did you mean?</th>
        </tr>

        <% @suggestions.each do |sug|  %>
            <tr>
              <td><%= link_to sug, words_path(name: sug) %></td>
            </tr>
        <% end %>
    <% end %>
</table>
